h1 {
    display: block;
    margin: 30px auto;
    font-size: 4rem;
    text-align: center;
}

#pokemonList {
    display: grid;
    grid-template-columns: repeat(auto-fit, 120px);
    grid-template-rows: auto;
    margin: 15px auto;
    gap: 10px;
}

.lightPokemon {
    background-color: #2e2e2e;
    box-sizing: border-box;
    padding: 5px;
    border-radius: 15px;
    cursor: pointer;
}

.lightPokemon > span {
    font-weight: bold;
    margin: 5px;
}

.lightPokemon > img {
    width: 50px;
    display: block;
    margin: 5px auto;
}

.lightPokemon > h2 {
    font-weight: bold;
    text-align: center;
    font-size: 0.9rem;
}

.lightPokemon .types {
    display: flex;
    justify-content: center;
    gap: 5px;
    font-weight: bold;
}

.lightPokemon .types div {
    text-align: center;
    border-radius: 5px;
    font-size: 0.9rem;
    box-sizing: border-box;
    padding: 2px;
    color: black;
}   


.searchInput {
  width: 40%;
  display: block;
  margin: 30px auto;
  padding: 8px 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  transition: box-shadow 0.2s;
  background-color: #2e2e2e;
  color: white;
}

.searchInput:focus {
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  border-color: #007bff;
}

.mat-mdc-paginator-container {
    background-color: #2e2e2e;
    color: white;
}