<div id="pokemonList">
    @for (pokemon of pokemonList; track pokemon.entryNumber) {
        <div class="lightPokemon" (click)="goToPokemon(pokemon.entryNumber)">
            <span>N#{{ pokemon.entryNumber }}</span>
            <img [src]="pokemon?.sprite?.frontDefaultSmall"/>
            <h2>{{ pokemon.name }}</h2>
            <div class="types">
                <div [style.backgroundColor]="pokemon?.types?.at(0) | pokemonType">{{ pokemon?.types?.at(0) }}</div>
                <div [style.backgroundColor]="pokemon?.types?.at(1) | pokemonType">{{ pokemon?.types?.at(1) }}</div>
            </div>
        </div>
    } @empty {
        No Pokemon found !
    }
</div>